/* .shifted-content {
  width: 70%;
} */

.main-body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  /* width: 100%; */
  /* margin-left: 0; */
  min-width: 50%;
}

h1 {
  font-family: "Alice";
  font-weight: normal;
  cursor: default;
}

#title {
  margin-bottom: 0px;
}

#date {
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  color: #7e9da4;
}

#sort {
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  color: #7e9da4;
  white-space: nowrap;
}

.one-line {
  display: flex;
  gap: 64px;
}

.b {
  padding: 10px;
  margin-bottom: 10px; /* spacing between elements */
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block; /* make elements block-level to stack vertically */
  width: 100%; /* adjust width as necessary */
  color: black;
}

#logout-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1px;
  margin-right: 1px;
  background-color: #585858;
  width: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  /* width: 100%; */
}
