.shifted-content {
  width: 70%;
}

.main-body {
  width: 100%;
  margin-left: 0;
}

h1 {
  font-family: 'Alice';
  font-weight: normal;
}

#date {
  font-family: 'Be Vietnam Pro';
  font-size: 20px;
  color: #7E9DA4;
}

#sort {
  font-family: 'Be Vietnam Pro';
  font-size: 16px;
  color: #7E9DA4;
}

.one-line {
  display: flex;
  gap: 64px;
}

.b {
  padding: 10px;
  margin-bottom: 10px; /* spacing between elements */
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block; /* make elements block-level to stack vertically */
  width: 100%; /* adjust width as necessary */
  color: black;
}

