#priorities {
    display: flex;
    gap: 2px;
}
.pLow, .pMed, .pHigh, .pNone {
    font-size: 12px;
    border-radius: 25px;
    border-color:#F3F3F3;
    padding: 10px 12px; 
    margin: 0;
    color: black;
    background-color: #F3F3F3;

}

.pNone:hover {
    background-color: #DFCB99;
}

.pLow:hover {
    background-color: rgb(221, 173, 120);
}

.pMed:hover {
    background-color: rgb(255, 200, 98);
}

.pHigh:hover {
    background-color: #fb896f;
}

.pLow-clicked {
    background-color: rgb(221, 173, 120);
}

.pMed-clicked {
    background-color: rgb(255, 200, 98);
}

.pHigh-clicked {
    background-color: #fb896f;
}

.pNone-clicked {
    background-color: #DFCB99;
}

.pLow-clicked, .pNone-clicked, .pMed-clicked, .pHigh-clicked {
    font-size: 12px;
    border-radius: 25px;
    border-color:#F3F3F3;
    padding: 10px 12px; 
    margin: 0;
    color: black;
}

    