/* 
    circular shape
*/

#days {
    display: flex;
    gap: 2px;
}

.btn, .btn2 {
    font-size: 11px;
    background-color: rgb(183, 208, 202);
    padding: 9px; 
    border-radius: 60%;
    color: white;
}

.btn2 {
    padding: 8px 8px; 
}
.btn:hover, .btn2:hover {
    background-color: #7e9da4;
  }

.btn2-clicked, .btn-clicked {
    font-size: 11px;
    background-color: #7e9da4;
    padding: 9px; 
    border-radius: 60%;
    color: white;
}

.btn2-clicked {
    padding: 8px 8px; 
}