#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}

@font-face {
  font-family: "Lexend";
  src: url(./fonts/LexendDeca-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Lexend";
  src: url(./fonts/LexendDeca-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Lexend";
  src: url(./fonts/LexendDeca-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Lexend";
  src: url(./fonts/LexendDeca-Light.ttf) format("truetype");
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lexend;
  width: 100%;
  margin: 0;
}

.main-body {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* @media (min-width: 650px) {
  .main-body {
    max-width: 600px;
  }

  .button {
    font-size: 16px;
  }
} */

@media (max-width: 650px) {
  .main-body {
    max-width: 100vw;
  }

  .button {
    font-size: 16px;
  }
}

.navbar {
  width: 100%;
  color: white;
  background-color: rgb(36, 36, 36);
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h1 {
  font-weight: 900;
  margin: 12px;
  cursor: pointer;
}

.navbar h1:hover {
  color: rgb(227, 227, 227);
}

a {
  color: black;
  cursor: pointer;
}

.title {
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  /* max-width: 95%; */
  text-align: center;
}

.formSubtitle {
  margin-top: 2px;
  margin-bottom: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  width: calc(95% - 60px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: white;
  background-color: black;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-family: "Lexend";
}

.width-100 {
  width: 100%;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-task-button-cancel {
  background-color: whitesmoke;
  color: black;
}

.submitButtonText {
  padding: 0;
  margin: 0;
}

.task-list {
  text-align: center;
  width: 100%;
}

.task {
  border: 1px solid #ddd;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.1s;
}

.remove-task-button {
  border: 0;
  border: 1px #252525 inset;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.1s;
}

.remove-task-button:disabled {
  opacity: 0.4;
  cursor: inherit;
}

.remove-task-checkbox {
  opacity: 0;
  width: 70%;
  height: 70%;
  transition: opacity 0.05s;
}

.remove-task-checkbox:hover {
  /* cursor: pointer;
  opacity: 0.8; */
}

/* CSS for non-mobile devices or when hovered */
@media (hover: hover) {
  .remove-task-checkbox:hover {
    /* Styles for when the button is hovered (desktop) */
    /* Show the checkbox */
    cursor: pointer;
    opacity: 0.8;
  }
}

.task-time-wrapper {
  outline: 1px solid grey;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.task-time {
  font-weight: 300;
  font-size: small;
  margin: 0;
  padding: 4px;
}

.task-name {
  padding-left: 5px;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.field-label {
  padding-bottom: 0;
  margin-bottom: 8px;
}

.field {
  width: 100%;
}

.input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 20px);
}

.react-datepicker__input-container {
  text-align: left;
}

.new-task-title {
  padding-left: 5px;
  height: 20px;
  flex-grow: 1;
  font-size: 16px;
}

.new-task input {
  border: 0;
  font-family: inherit;
  /* padding: 0; */
  /* padding-left: 5px; */
}

.flex-row-at-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-col-at-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-col-at-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-task input:focus {
  outline: none;
}

.new-task-date-input-container {
  position: relative;
}

.new-task-date-input {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.error-msg {
  color: red;
  font-size: smaller;
  margin: 0 auto;
  padding-top: 6px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

a:hover {
  text-decoration: underline;
}

.add-task-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-task-button {
  max-width: 50%;
}

.date-picker-new-task {
  font-size: 16px;
  margin-top: 5px;
}

.logout-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 1px solid grey;
  border: 2px;
  border-radius: 3px;
}
