body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
  }
  
  .task-manager {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  .filter-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 4px;
  }
  
  .filter {
    background-color: #ECECEC;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }

  .filter-clicked {
    background-color: #E9B4A2;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .filter:hover {
    background-color: #E9B4A2;
  }
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .task-list {
    margin-bottom: 20px;
  }
  
  .task {
    background-color: #F7F5F0;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .task input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .task-time {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .task-name {
    flex-grow: 1;
  }

  .None {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f7f5f0;
  }

  .Low {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(221, 173, 120);
  }

  .Med {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 200, 98);
  }

  .High {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fb896f;
  }
  
  .create-task-button {
    background-color: #e7e7e7;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
  }



  
  