body {
  font-family: "Be Vietnam Pro";
  background-color: #f9f9f9;
  margin: 0;
  /* padding: 20px; */
}

.flexbox-horiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexbox-vert-left-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

span {
  white-space: nowrap;
}

.task-manager {
  width: 100%;
  max-width: 400px;
}

.filter-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 4px;
}

.filter {
  background-color: #ececec;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.filter-clicked {
  background-color: #e9b4a2;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.filter:hover {
  background-color: #e9b4a2;
}
h2 {
  color: #333;
  margin-bottom: 20px;
}

.task-list {
  /* margin-bottom: 20px; */
  width: 100%;
}

.task {
  background-color: #f7f5f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  /* text-align: left; */
}

.task div input[type="checkbox"] {
  margin-right: 20px;
}

#task-add-confirm {
  cursor: pointer;
  margin-right: 5px;
}

#task-add-confirm:hover {
  text-decoration: underline;
}

.new-task-input {
  padding: 0;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #eee;
  margin: 5px;
}

.task-time {
  font-weight: bold;
  font-size: 14px;
  padding-right: 8px;
}

.task-name {
  /* position: absolute;
    left: 185px; */
  flex-grow: 1;
  font-family: "Alice";
  font-size: 17px;
}

.None {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f7f5f0;
}

.Low {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(221, 173, 120);
}

.Med {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 200, 98);
}

.High {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fb896f;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
  padding: 10px;
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  white-space: nowrap;
}

button {
  font-family: serif;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 20px;
}
