/* 
    circular shape
*/

#days {
    display: flex;
    gap: 2px;
}

.btn {
    font-size: 12px;
    background-color: rgb(183, 208, 202);
    padding: 10px; 
    border-radius: 50%;
    color: white;
}

.btn:hover {
    background-color: #7e9da4;
  }